<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="yoAngularApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="yoAngularApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="yoAngularApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="yoAngularApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title kos-title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class='navbar navbar-inverse navbar-fixed-top'>
        <div class='container text-center'>
            <h3 class='page-header'>Here we will manage our users</h3>
        </div>
    </div>
    <div class='top-dist'></div>
    <!-- Add your site or application content here -->
    <div class="container">
        <div class='row'>
            <div class="span2" ng-controller='userList'>
                <h3>User List</h3>
                <input type="text" class="input-medium search-query" ng-model='userFilter'>

                <ul ng-if="notEmpty">

                    <li ng-repeat='user in users | filter:userFilter'>
                        <a href='#/user/edit/{{user._id}}'>
                            {{ user.firstName }} <span>{{ user.lastName }}</span>
                        </a>
                        <button class="close" ng-click='delete(user)'>&times;</button>
                    </li>

                </ul>
                <a href='#/user/new' class='btn btn-success'>Add new</a>
            </div>
            <div class='span8' ng-view=""></div>
            <div class='span2' ng-controller='kosAlerts'>
                <div ng-repeat="alert in alerts">
                    <div class="alert alert-{{alert.type}}">
                        <button type="button" class="close" data-dismiss="alert" ng-click='close($index)'>&times;</button>
                        {{alert.message}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/directives/common.js"></script>
    <!-- endbuild -->
</body>
</html>
